[user]
	name = hyz
	email = jiyong.wu@gmail.com
[color]
	status = auto
	branch = auto
[diff]
    external = git_vimdiff.sh
[pager]
    diff =

#[push]
#	default = simple

[http]
 proxy = socks5://192.168.2.115:8787

