[user]
	name = oops
	email = cooloops@qq.com
[color]
	status = auto
	branch = auto
[diff]
    external = git_vimdiff.sh
[pager]
    diff =

#[push]
#	default = simple

#[http]
    #proxy = socks5://192.168.2.115:8787
#[http]
    #proxy = 127.0.0.1:7788
#[socks]
#	proxy = 127.0.0.1:8787
#[core]
#	gitproxy = git-proxy
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
