[user]
	name = oops
	email = cooloops@qq.com
[color]
	status = auto
	branch = auto
[diff]
    external = git_vimdiff.sh
[pager]
    diff =

#[push]
#	default = simple

[http]
    proxy = socks5://127.0.0.1:8787
#[socks]
#	proxy = 127.0.0.1:8787
#[core]
#	gitproxy = git-proxy

