## https://wiki.archlinux.org/index.php/Readline
## https://www.reddit.com/r/commandline/comments/kbeoe/you_can_make_readline_and_bash_much_more_user/
## https://wiki.archlinux.org/index.php/Zsh#Key_bindings

set editing-mode vi

#$if mode=vi
#    set keymap vi-command
#    "gg": beginning-of-history
#    "G": end-of-history
#    set keymap vi-insert       #notice how the "jj" movement is
#    "jj": vi-movement-mode     #after 'set keymap vi-insert'?
#    "\C-w": backward-kill-word
#    "\C-r": history-search-backward
#   #"\C-n": history-search-forward
#$endif

set bell-style none

"\C-j": insert-comment

# bind -x '"\C-j":"clear;ls"'

