Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight

!!! XTerm <=== <=== <=== !!! <=== <=== <===
!xterm*termName: xterm-256color
! xterm.termName: xterm-256color
!% xterm.geometry: 110x54
xterm*scrollBar: false
xterm*rightScrollBar: true
xterm*loginshell: true
xterm*cursorBlink: true
xterm*background: black
xterm*foreground: gray
xterm.borderLess: true
xterm.cursorBlink: true
xterm*colorUL: yellow
xterm*colorBD: white
!font and locale
xterm*locale: true
xterm.utf8: true
xterm*utf8Title: true
xterm*fontMenu*fontdefault*Label: Default
xterm*faceName: Monaco:antialias=True:pixelsize=18
!! xterm*faceName: monofur:antialias=True:pixelsize=20
!! xter*boldFont: DejaVu Sans Mono:style=Bold:pixelsize=15
!! xterm*faceNameDoublesize: wenquanyi bitmap song:pixelsize=16:antialias=True
xterm*faceNameDoublesize: Microsoft YaHei:pixelsize=18:antialias=True
xterm*xftAntialias: true
!! xterm*cjkWidth: false
!xterm*onXClicks: 4
!#xterm*on2Clicks: regex [a-zA-Z0-9_.:_\-\/]+
! xterm*on4Clicks: regex [^(){}\[\]]+
!===
!xterm*cutNewLine: false
!xterm*cutToBeginningOfLine: false
!xterm*charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
XTerm*VT100.cutNewLine: false
XTerm*VT100.cutToBeginningOfLine: false
XTerm*VT100.charClass: 33:48,35:48,37:48,42:48,45-47:48,64:48,95:48,126:48
!=== fix alt key input
!!!xterm*eightBitInput: false
!!!xterm*altSendsEscape: true
!=== print color and bold/underline attributes
!!!xterm*printAttributes: 2
!!!xterm*printerCommand: cat > ~/xtermdump
!----------------------------------------------------------------------------wjy


!-- Tango color scheme
*xterm*color0: #2e3436
*xterm*color1: #cc0000
*xterm*color2: #4e9a06
*xterm*color3: #c4a000
*xterm*color4: #3465a4
*xterm*color5: #75507b
*xterm*color6: #0b939b
*xterm*color7: #d3d7cf
*xterm*color8: #555753
*xterm*color9: #ef2929
*xterm*color10: #8ae234
*xterm*color11: #fce94f
*xterm*color12: #729fcf
*xterm*color13: #ad7fa8
*xterm*color14: #00f5e9
*xterm*color15: #eeeeec

! - http://www.leninlee.cn/?p=376
!Xft.dpi:96
!fontforge.FontView.FontFamily:wenquanyi bitmap song
URxvt.font: xft:Monaco:pixelsize=18:antialias=True,xft:Microsoft YaHei:pixelsize=14:antialias=true
URxvt*xftAntialias: true
URxvt.background: rgba:0000/0000/0000/cccc
! URxvt.depth: 32
! Rxvt.geometry:192×144
!URxvt.foreground: antiquewhite
URxvt.foreground: gray
URxvt.colorBD: yellow
URxvt.colorUL: green
URxvt.scrollBar: Fault
URxvt.scrollBar_right:True
URxvt.scrollBar_floating: True
URxvt.scrollstyle: next
URxvt.saveLines:10000
URxvt.color0:black
URxvt.color1:red3
URxvt.color2:springgreen
URxvt.color3:wheat3
URxvt.color4:navy
URxvt.color5:magenta4
URxvt.color6:steelblue1
URxvt.color7:gray85
URxvt.color8:gray10
URxvt.color9:SkyBlue3
URxvt.color10:chartreuse3
URxvt.color11:lightgoldenrod2
URxvt.color12:SkyBlue1
URxvt.color13:pink1
URxvt.color14:lightblue1
URxvt.color15:#dbeff9
URxvt.preeditType:Root
! URxvt.transparency:255 
URxvt.transparency:0 
! URxvt.font:xft:Vera Sans YuanTi Mono :size=10,xft:Monospace:size=10
! URxvt.menu:/etc/X11/rxvt.menu

!!# http://fvwmforums.org/wiki/Tips/XTermRunDialogue/
!fvwm-run-dialog.VT100*translations: #override \n\
!    <Key>Return: string(" &\n exit\n")

